{% extends "gestion/base.html" %}
{% load static %}

{% block title %}Agregar Empleado{% endblock %}

{% block content %}

<h2>Agregar Empleado</h2>
<form method="post">
    {% csrf_token %}
    <label>Nombre:</label><br>
    <input type="text" name="nombre" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Teléfono:</label><br>
    <input type="text" name="telefono"><br><br>

    <label>Cargo:</label><br>
    <input type="text" name="cargo"><br><br>

    <!-- Nuevos campos para crear usuario -->
    <label>Nombre de usuario:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Contraseña:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Guardar</button>

    <div class="form-group">
        <label for="rol">Rol</label>
        <select name="rol" id="rol" class="form-control">
            <option value="Administrador">Administrador</option>
            <option value="Empleado">Empleado</option>
        </select>
    </div>
    
</form>

<a href="{% url 'lista_empleados' %}">Volver a la lista</a>

{% endblock %}
